/* Global */
body {
    color: #444;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    padding: 0 0 60px;
}


/* Buttons */
button {
    background-color: #2ecc71;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font: inherit;
    padding: 0.4em 1.2em;
    text-decoration: none;
}
button:hover {
    background-color: #27ae60;
}


/* Forms */
label {
    display: block;
}
input,
textarea {
    font-family: inherit;
    font-size: inherit;
}


/* Grid */
.container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 680px;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    width: 100%;
}


/* Navigation */
nav {
    background-color: #3498db;
    margin-bottom: 3em;
}
nav .title {
    color: white;  /* #fff */
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}
.menu {
    float: right;
}
.menu a {
    color: white;
    display: inline-block;
    font-size: 0.9em;
    padding: 1em 0.8em;
    text-decoration: none;
}
.menu a:hover {
    background-color: #2980b9;
}


/* Typography */
h1,
h2,
h3 {
    line-height: 1.2;
}

dd {
    margin-bottom: 1.5em;
    margin-left: 0;
}

dt {
    border-bottom: 1px dotted #999;
    font-weight: bold;
    margin-bottom: 0.75em;
    padding-bottom: 0.3em;
}
