/* Global */
body {
    color: #444;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Buttons */
.button {
    background-color: #2ecc71;
    border-radius: 5px;
    color: white;
    padding: 0.55em 1.5em;
    text-decoration: none;
}
.button:hover {
    background-color: #27ae60;
}

/* Grid */
.container {
    box-sizing: border-box; 
    margin: 0 auto;
    max-width: 680px;
    padding: 0 20px;
    position: relative;
    width: 100%;
}

// .column {
//     box-sizing: border-box; 
//     float: left;
//     margin-left: 4%;
//     width: 100%;
// }

// .column:first-child {
//     margin-left: 0; 
// }

// .one-half.column { 
//     width: 48%; 
// }

// .one-third.column { 
//     width: 30.6666666667%; 
// }
// .two-thirds.column { 
//     width: 65.3333333333%; 
// }

// .one-fourth.column { 
//     width: 22%; 
// }
// .three-fourths.column { 
//     width: 74%; 
// }


/* Navigation */
nav {
    background-color: #3498db;
    margin-bottom: 3em;
}
nav .title {
    color: white;  /* #fff */
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}


/* Typography */
h1,
h2,
h3 {
    line-height: 1.2;
}

dd {
    margin-bottom: 1.5em;
    margin-left: 0;
}

dt {
    border-bottom: 1px dotted #999;
    font-weight: bold;
    margin-bottom: 0.75em;
    padding-bottom: 0.3em;
}

