{% extends '_partials/base.html' %}

{% block content %}

    <h1>{{ event.name }}</h1>
    {% if event.owner == user %}
        <a href="{% url 'event_edit' event.pk %}">Edit Event</a> // 
        <a href="{% url 'event_delete' event.pk %}" class="delete">Delete Event</a>
    {% endif %}
    <p>
        {% if event.capacity %}
            Capacity: {{ event.capacity }}
        {% endif %}
    </p>
    <p>
        {{ event.description }}
    </p>
    <dl>
        <dt>When:</dt>
        <dd>{{ event.start_time|date }} at {{ event.start_time|time }}</dd>
        <dt>Where: </dt>
        <dd>{{ event.location }}</dd>
        <dt>Price:</dt>
        <dd>
            {% if event.price %}
                ${{ event.price }}
            {% else %}
                FREE
            {% endif %}
        </dd>
    </dl>

    <a class="button" href="{% url 'event_register' event.pk %}">Register</a>

{% endblock content %}

{% block scripts %}
<script>
    var deleteButton = document.querySelector('a.delete');

    deleteButton.addEventListener('click', function(e) {
        if ( !window.confirm('Are you sure you want to delete this event?') ) {
            e.preventDefault();
            return false;
        }
    });
</script>
{% endblock scripts %}
